.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

button:disabled{
    background-color: grey;
}
h3 {
    text-align: center;
}

.active{
    background-color: darkcyan;
}
.nearMaxMass{
    color: darkred;
    font-weight: bold;
    font-style: italic;
}

/* Add the 'nearMaxMass' class style here: */
